.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.article__card {
  width: 100%;
  position: relative;
  display: inline-block;
}

.article__title {
  position: relative;
  display: block;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  kerning: condensed; 
}

.article__img_0,
.article__img_1,
.article__img_2,
.article__img_3 {
  display: none;
}
.article__img_4
 {
  width: 50%;
}

.article__strapline {

}